<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-lg-2 sidebar">
      <h2>Skillopedia</h2>
    </div>
    <div class="col-lg-10 team-listing">
      <h4>Team Members</h4>
      <%= render 'user' %>
    </div>
  </div>
</div>