@import "bootstrap/scss/bootstrap";

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  background-color: whitesmoke;

}

.card {
  border-style: none;
  border-radius: 20px;
  height: 500px;
  width: 75%;
}

.form-control {
  border-radius: 20px;
}