@import "bootstrap/scss/bootstrap";

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  background-color: whitesmoke;

}

.card {
  border-style: none;
  border-radius: 20px;
  height: 500px;
  width: 75%;
}

.card.card-small {
  height: 400px;
}

.card.card-long {
  height: 760px;
}

.form-control {
  border-radius: 20px;
}

.top {
  background-image: url('/assets/login_background.jpg');
  margin: 15px;
  border-radius: 20px;
  position: fixed;
  top: 0px;
  height: 400px;
  width: 98%;
}

.cover-header, .cover-sub-header {
  color: white;
  margin-top: 40px;
}

.cover-text {
  color: white;
}